@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700');

/*--------------------ОБЩИЕ-------------------*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto Light", sans-serif;
    font-size: 17px;
    line-height: 1.5;
    color: #000000;
}

.wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 100vh;

}

.positioner {
    width: 1230px;
    margin: 0 auto;
}

ul {
    list-style: none;
}

/*--------------------HEADER + FOOTER-------------------*/
header[role = 'banner'] {
    padding: 35px 0;
    border-bottom: 10px solid #f0f0f0;
}

header .positioner,
footer .positioner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header a,
.footer-menu a,
a.contacts-phone {
    text-decoration: none;
}

.header-logo {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header-logo p {
    font-size: 12px;
}

.header-menu ul,
.footer-menu ul {
    display: flex;
}

.header-menu ul li,
.footer-menu ul li {
    padding: 0 10px;
    font-size: 15px;
    font-weight: 400;
    text-transform: uppercase;
}

.header-contacts,
.footer-contacts {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.contacts-phone {
    margin: 0 0 15px 0;
}

a.contacts-phone,
.contacts-phone span,
.contacts-phone {
    font-size: 30px;
}

.contacts-callback {
    display: flex;
    align-items: center;
}

.contacts-callback img {
    margin: 0 10px 0 0;
}

.contacts-callback a {
    font-size: 16px;
    color: #00a5ec;
    text-transform: uppercase;

}

span,
.footer-about > a {
    color: #00a5ec;
}

.header-menu a:hover {
    color: #00a5ec;
}

a.contacts-phone:hover {
    color: #00a5ec;
}

.contacts-callback a:hover {
    color: #000000;
}

/*--------------------CONTENT-------------------*/
.about-company {
    flex: 1;
    margin: 20px 0 60px 0;
}

.about-company p {
    margin: 20px 0;
}

.about-company h1 {
    font-size: 30px;
    color: #0b456d;
}

.about-company a {
    color: #00acee;
}

.about-company img {
    float: left;
    width: 40%;
    border: 10px solid transparent;
    box-shadow: 0 0 10px 0 #d4d4d4;
    margin: 10px 40px 10px 0;
    overflow: hidden;
}

.about-company h2 {
    font-size: 22px;
    font-weight: 500;
    color: #00acee;
}

.about-company .list {
    margin: 0 0 0 70px;
}

.about-company .list li {
    font-size: 15px;
    margin: 0 0 30px 0;
    position: relative;
}

.about-company .list li:before {
    content: '';
    display: block;
    position: absolute;
    top: 50%;
    left: -40px;
    width: 20px;
    height: 3px;
    background: #00acee;

}
.about-company a:hover {
    color: #0b456d;
    text-decoration: none;
}
/*--------------------FOOTER-------------------*/
footer {
    background: #f0f0f0;
    padding: 70px 0;
}

.footer-about,
.footer-contacts {
    display: flex;
    flex-direction: column;
}

.footer-about-container {
    display: flex;
}

.footer-about-container img {
    margin: 0 20px 0 0;
}

.footer-about-container .copyright {
    font-size: 15px;
    font-weight: 700;
}

.footer-about-info {
    font-size: 14px;
}

.footer-about a {
    font-size: 15px;
    font-weight: 500;
}

.footer-about-info,
.footer-menu {
    margin: 20px 0;
}

footer .contacts-phone {
    margin: 0;
}

.footer-menu a {
    font-size: 12px;
}

.footer-made-in {
    font-family: 'UniSansHeavyCAPS', sans-serif;
    font-size: 15px;
    color: #c0cacd;
    text-align: right;
    text-transform: uppercase;
}

.footer-about a:hover {
    color: #0b456d;
}

.footer-menu a:hover {
    color: #00a5ec;
}






