@font-face {
    font-family: Roboto;
    src: url(fonts/Roboto/Robotomedium.ttf),
         url(fonts/Roboto/Robotolight.ttf),
         url(fonts/Roboto/Robotoregular.ttf),
         url(fonts/Roboto/Robotobold.ttf),
         url(fonts/UniSansHeavyCAPS.otf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Roboto Light", sans-serif;
    font-size: 17px;
    color: #676767;
}

.positioner {
    width: 1170px;
    margin: 0 auto;
}

ul {
    list-style: none;
}

.page-header {
    padding: 35px 0;
    border-bottom: 10px solid #f0f0f0;
}

.page-header .positioner,
.page-footer .positioner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.page-header a,
.page-footer .contacts a {
    text-decoration: none;
}

.page-header .logo {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.page-header .logo p {
    font-size: 12px;
}

.contacts {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.page-header .menu  ul {
    display: flex;
}

.page-header .menu  ul li {
    padding: 0 10px;
    font-size: 15px;
    font-family: 'Roboto Medium', sans-serif;
}

.phone {
    font-size: 30px;
}

.page-header .contacts .callback {
    display: flex;
    align-items: center;
}

.page-header .contacts .callback img {
    margin: 0 7px 0 0;
}

span,
.page-header .contacts a,
.page-footer .about > a {
    color: #00acee;
}

.about-company,
.about-company p {
    margin: 20px 0;
}

.about-company a {
    color: #00acee;
}

.about-company img {
    float: left;
    width: 40%;
    border: 10px solid transparent;
    box-shadow: 0 0 10px 0 #d4d4d4;
    margin: 25px 40px 25px 0;
    overflow: hidden;
}

.about-company h2 {
    font-size: 22px;
    font-family: 'Roboto Medium', sans-serif;
    color: #00acee;
}

.about-company ul li {
    font-size: 15px;
}

.page-footer {
    background: #f0f0f0;
    padding: 70px 0;
}

.page-footer .about,
.page-footer .contacts {
    display: flex;
    flex-direction: column;
}

.page-footer .about .container {
    display: flex;
    margin: 0 0 20px 0;
}

.page-footer .about .container img {
    margin: 0 20px 0 0;
}

.page-footer .about .container .copyright {
    font-size: 15px;
    font-family: "Roboto Black", sans-serif;
}

.page-footer .about .info {
    font-size: 14px;
    margin: 0 0 20px 0;
}

.page-footer .contacts .phone,
.page-footer .contacts .menu {
    margin: 0 0 20px 0;
}

.page-footer .contacts .menu ul {
    display: flex;
    font-size: 12px;
}

.page-footer .contacts .menu  ul li {
    padding: 0 10px;
}

.page-footer .contacts .made-in {
    font-family: 'UniSansHeavyCAPS', sans-serif;
    font-size: 15px;
    color: #c0cacd;
    text-align: right;
}






